.contact {
    padding: 50px 0;
    width: 70%;
    margin: auto;
}

@media screen and (max-width:1024px) {
    .contact {
        width: 90%;
    }
}
.contact-container{
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-top: 30px;
}
.contact-left{
    max-width: 60%;
    font-size: 20px;
}
.contact-left a{
    text-decoration: none;
    background-color: #4b208c;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    border-radius: 4px;
    border:  2px solid #4b208c;
    transition: 0.5s;
}
.contact-left a:hover{
    background: white;
    border: 2px solid #4b208c;
    color: #4b208c;
}
.contact-left a:hover i {
    color: #4b208c;
}
.contact-left a i{
    margin-right: 8px;
}
@media screen and (max-width:768px) {
    .contact-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact-left{
        font-size: 16px;
        max-width: 100%;
        margin-bottom: 12px;
    }
    .contact-left a{
        display: flex;
        font-size: 16px;
        margin-bottom: 12px;
        width: 50%;
    }
}
@media screen and (max-width:425px) {
    .contact-left a {
       padding: 10px ;
        font-size: 17px;
    }
    .contact-left a{
        font-size: 13px;
        width: 40%;
    }
}