.project-card{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin: 65px 0;
}
.project-info{
    margin-right: 24px;
}
.project-info p{
    line-height: 25px;
    font-size: 18px;
    word-spacing: 1px;
}
.project-title{
    font-size: 40px;
    font-weight: 600;
    color: black;
}
.project-tags{
    display: flex;
    max-width: 60%;
    flex-wrap: wrap;
}
.tag{
    padding: 5px 8px;
    background-color: #4b208c;
    border-radius: 18px;
    color: white;
    margin-right: 10px;   
}

@media screen and (max-width:1433px) {
    .tag{
        margin-top: 10px;
    }
}

.project-links{
    display: flex;
    margin-top: 6px;
}
.project-links a{
    text-decoration: none;
    color: white;
}
.link-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    background: #4b208c;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 6px;
    border: 2px solid transparent;
}

.link-button:hover{
    border: 2px solid #4b208c;
    background-color: white;
    color: #4b208c;
    transition: 0.5s;
}
.link-button i{ 
    display: flex;
    align-items: center;
    margin-right: 8px;
}
@media screen and (max-width:768px) {
    .project-card {
       flex-direction: column;
    }
    .project-info{
        margin-top: 12px;
    }
    .project-img{
       width: 100%;
       margin-top: 20px;
    }
    .project-tags{
        max-width: 100%;
    }
}
