.separator{
    background-image : linear-gradient(
    to right top,
     #c23c88,
     #b7489d,
     #a754b0, 
     #9260c0, 
     #776bcc, 
     #5d78d5, 
     #3d84db, 
     #008edc, 
     #009cd9, 
     #00a7ce, 
     #00b0bf, 
     #2ab7ae
    );
    height: 6px;
    width: 65%;
    border-radius: 3px;
    margin-bottom: 50px;
}